@mend-support:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken="${SVG_GL_NPMINSTALL_TOKEN}"
//gitlab.com/api/v4/projects/36792637/packages/npm/:_authToken="${SVG_GL_NPMINSTALL_TOKEN}"
